.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/eslint.config.js
**/*.map
**/*.ts
clean-install.sh
npm-debug.log
*.vsix
../**
node_modules/@eslint/**
node_modules/@typescript-eslint/**
node_modules/eslint/**
node_modules/eslint-*/**
node_modules/typescript/**
node_modules/@types/**
node_modules/@vscode/**